* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: center;
}


header {
    text-align: center;
    margin: 50px;
    color: white;
    text-transform: uppercase;
}
div#cv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin:auto;
    background-color: #fff;
    padding: 70px;
}


button {
    margin: 20px;
    width: 100px;
}