* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F6F8FA;
}

form {
    width: 700px;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 2px solid #ea5455;
    padding: 30px;
}